/* General Styles */
body {
    font-family: 'Frank Ruhl Libre', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    margin: 50px 0;
}

.title-part1, .title-part2 {
    font-family: 'Heavitas', sans-serif;
    position: relative;
    color: #7941F2;
}

.title-part1 {
    font-size: 130pt;
}

.title-part2 {
    font-size: 180pt;
}

.title-part1::before,
.title-part2::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 172, 242, 0.6);
    filter: blur(100px);
    z-index: -1;
}

.nav {
    margin: 20px 0;
}

.gadget {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #381B89;
    font-size: 24px;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.gadget::after {
    content: '';
    display: block;
    width: calc(110% - 10px);
    height: 2px;
    background-color: #D6ACF2;
    position: sticky;
    bottom: -10px;
    left: 10px;
    transition: background-color 0.3s;
}

.gadget:hover, .gadget:active {
    background-color: #D6ACF2;
    color: white;
}

.gadget:hover::after, .gadget:active::after {
    background-color: transparent;
}

main {
    padding: 50px;
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: black;
    background-color: transparent;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.donate-button {
    background-color: #0070ba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #005ea6;
}

/* Home Page Styles */
.home-subtitle {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 30pt;
    color: #d4cfe2;
    text-align: center;
    margin-bottom: 40px;
}

.blur-background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(222, 190, 248, 0.308);
    filter: blur(100px);
    z-index: -1;
}

.image-section {
    text-align: center;
    margin: var(--space);
}

.centered-image {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
}

.image-title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18pt;
    color: #381B89;
    margin-bottom: 20px;
}

.image-caption {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 14pt;
    color: #381B89;
    margin-top: 10px;
    margin-bottom: 50px;
}

.description {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 14pt;
    color: #381B89;
    text-align: right;
    margin-right: 100px;
    width: 50%;
    float: right;
}

/* Ideas Page Styles */
#ideas {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.main-subtitle {
    font-family: 'Heavitas', sans-serif;
    font-size: 50pt;
    color: #7941F2;
    text-align: center;
    margin-bottom: 40px;
}

.idea-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.idea-title {
    font-size: 24pt;
    color: #7941F2;
    text-align: right;
    margin: 30px 100px;
    background-color: #f1e1ff;
    padding: 20px;
}

.idea-content {
    display: flex;
    justify-content: space-between;
}

.description {
    width: calc(50% - 30px);
    font-size: 18pt;
    color: #381B89;
    margin-left: 100px;
    text-align: right;
    margin-top: -30px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 30px);
}

.images img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-bottom: 5px;
}

.caption {
    font-size: 12pt;
    color: #D6ACF2;
    text-align: right;
    margin-bottom: 20%;
    position: sticky;
}

hr {
    border: 0;
    height: 2px;
    background-color: #7941F2;
}

/* About Us Page Styles */
#about {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.about-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.about-title {
    font-size: 24pt;
    color: #7941F2;
    text-align: right;
    margin: 30px 100px;
    background-color: #f1e1ff;
    padding: 20px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.description {
    width: calc(50% - 30px);
    font-size: 18pt;
    color: #381B89;
    margin-left: 100px;
    text-align: right;
    margin-top: -30px;
}

.about-us-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 30px);
}

.about-us-img img {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
}

.caption {
    font-size: 12pt;
    color: #D6ACF2;
    text-align: right;
    margin-bottom: 20%;
    position: sticky;
}

/* Contact Page Styles */
#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-subtitle {
    font-family: 'Heavitas', sans-serif;
    font-size: 50pt;
    color: #7941F2;
    text-align: center;
    margin-bottom: 40px;
}

#contact-form {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
}

#contact-form label {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    color: #0c3d3f;
}

#contact-form input, #contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

#contact-form textarea {
    resize: vertical;
}

#contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #cfc4ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #68da81;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-title {
        font-size: 80pt;
    }

    .gadget {
        font-size: 18px;
        padding: 6px 12px;
    }

    main {
        padding: 30px;
    }

    #contact-form, .description, .images {
        width: 100%;
    }

    .description {
        margin: 0;
        text-align: left;
    }

    .images {
        align-items: center;
    }

    .title-part1, .title-part2 {
        font-size: 80pt;
    }

    .home-subtitle, .idea-title, .main-subtitle, .about-title {
        font-size: 30pt;
    }

    .centered-image {
        width: 100%;
    }

    .footer-left {
        align-items: center;
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

}
